#index-body {
	background-image: url("../textures/green-abstract.jpg");
}

#eula-div {
	background-image: url("../textures/white-paper.jpg");
	max-width:80%;
	min-width:80%;
	margin-top:10%;
	margin-left:10%;
	margin-right:10%;
	border-width:4px;
	border-radius:4px;
	border-style: outset;
}

#eula-license-div {
	margin-left:10%;
	margin-right:10%;
}

#eula-cc-img {
	margin-left:30%;
	margin-right:30%;
}

#eula-accept-btn {
	max-width:30%;
	min-width:30%;
	margin-left:35%;
	margin-right:35%;
	margin-top:2%;
	margin-bottom:2%;
	border-radius:4px;
	font-size:1.25em;
}

#login-head {
	margin-left:6%;
	margin-bottom:.1em;
}

#login-frm {
	background-image: url("../textures/white-paper.jpg");
	max-width:60%;
	min-width:60%;
	margin-top:10%;
	margin-left:16%;
	margin-right: 16%;
	border-width:4px;
	border-radius:4px;
	border-style: outset;
}

#character-in {
	background-color:LightGray;
	max-width:90%;
	min-width:90%;
	margin-left:5%;
	margin-right:5%;
	margin-top:2%;
	margin-bottom:1%;
	border-width:2px;
	border-radius:4px;
	border-style: inset;
	font-size:1.375em;
}

#password-in {
	background-color:LightGray;
	max-width:90%;
	min-width:90%;
	margin-left:5%;
	margin-right:5%;
	margin-top:1%;
	margin-bottom:1%;
	border-width:2px;
	border-radius:4px;
	border-style: inset;
	font-size:1.375em;
}

#user-err {
	color:red;
	max-width:90%;
	min-width:90%;
	margin-left:5%;
	margin-right:5%;
	margin-top:1%;
	margin-bottom:1%;
	font-size:1.375em;
}

#pass-err {
	color:red;
	max-width:90%;
	min-width:90%;
	margin-left:5%;
	margin-right:5%;
	margin-top:1%;
	margin-bottom:1%;
	font-size:1.375em;
}

#login-btn {
	max-width:50%;
	min-width:50%;
	border-radius:4px;
	margin-left:25%;
	margin-right:25%;
	margin-top:1%;
	margin-bottom:2%;
	font-size:1.375em;
}